<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go dog Go</title>
    <link rel="stylesheet" href="gdg.css">
</head>
<body>
    
    <h1>Go Dog Go characters</h1>
    <h2>Uplog characters Images </h2>
    <form action="/upload" method="POST" enctype = "multipart/form-data">
        <input type="file" name="file" >
    <button type="type"id="button">
        upload

    </button>
    </form>
</body>
</html>